USE [master]
GO
/****** Object:  Database [Sehir_Simülasyon_Yönetim_Sistemi]    Script Date: 3.10.2025 10:13:53 ******/
CREATE DATABASE [Sehir_Simülasyon_Yönetim_Sistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sehir_Simülasyon_Yönetim_Sistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sehir_Simülasyon_Yönetim_Sistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sehir_Simülasyon_Yönetim_Sistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sehir_Simülasyon_Yönetim_Sistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sehir_Simülasyon_Yönetim_Sistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sehir_Simülasyon_Yönetim_Sistemi]
GO
/****** Object:  Table [dbo].[Otoparklar]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otoparklar](
	[otopark_id] [int] IDENTITY(1,1) NOT NULL,
	[otopark_adi] [varchar](100) NULL,
	[toplam_kapasite] [int] NULL,
	[mevcut_doluluk] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[otopark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Araclar]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Araclar](
	[arac_id] [int] IDENTITY(1,1) NOT NULL,
	[plaka] [varchar](10) NULL,
	[otopark_id] [int] NULL,
	[park_giris_saati] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[arac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OtoparkUcretleri]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Ücret hesaplaması
CREATE VIEW [dbo].[OtoparkUcretleri] AS
SELECT 
    a.arac_id,
    a.plaka,
    o.otopark_adi,
    DATEDIFF(HOUR, a.park_giris_saati, GETDATE()) AS park_suresi_saat,
    CASE 
        WHEN DATEDIFF(HOUR, a.park_giris_saati, GETDATE()) <= 3 THEN 100
        ELSE 100 + ((DATEDIFF(HOUR, a.park_giris_saati, GETDATE()) - 3) * 50)
    END AS toplam_ucret
FROM 
    Araclar a
    JOIN Otoparklar o ON a.otopark_id = o.otopark_id;
GO
/****** Object:  Table [dbo].[AltyapiHizmetleri]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltyapiHizmetleri](
	[hizmet_id] [int] IDENTITY(1,1) NOT NULL,
	[hizmet_turu] [varchar](50) NULL,
	[vatandas_id] [int] NULL,
	[tuketim_miktari] [decimal](10, 2) NULL,
	[fatura_tarihi] [date] NULL,
	[odeme_durumu] [varchar](20) NULL,
	[borc_miktari] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[hizmet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Binalar]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Binalar](
	[bina_id] [int] IDENTITY(1,1) NOT NULL,
	[bina_adi] [varchar](100) NOT NULL,
	[bina_turu] [varchar](50) NULL,
	[bina_kapasitesi] [int] NULL,
	[bina_ilce_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bina_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calisanlar]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisanlar](
	[calisan_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[isyeri_id] [int] NULL,
	[pozisyon] [varchar](50) NULL,
	[maas] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[calisan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feribotlar]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feribotlar](
	[feribot_id] [int] IDENTITY(1,1) NOT NULL,
	[feribot_adi] [varchar](100) NULL,
	[kapasite] [int] NULL,
	[kalkis_iskele_id] [int] NULL,
	[varis_iskele_id] [int] NULL,
	[sefer_saati] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[feribot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HastaKayitlari]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HastaKayitlari](
	[kayit_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[hastane_id] [int] NULL,
	[hastalik_turu] [varchar](100) NULL,
	[yatma_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[kayit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hastalar]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastalar](
	[hasta_id] [int] NOT NULL,
	[hastalik] [varchar](255) NULL,
	[yatish_tarihi] [date] NULL,
	[hastane_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hasta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hastaneler]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastaneler](
	[hastane_id] [int] IDENTITY(1,1) NOT NULL,
	[hastane_adi] [varchar](100) NULL,
	[kapasite] [int] NULL,
	[bina_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hastane_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[ilce_id] [int] IDENTITY(1,1) NOT NULL,
	[ilce_adi] [varchar](100) NOT NULL,
	[sehir_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ilce_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IsYerleri]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IsYerleri](
	[isyeri_id] [int] IDENTITY(1,1) NOT NULL,
	[isyeri_adi] [varchar](100) NULL,
	[sektor] [varchar](50) NULL,
	[bina_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[isyeri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İskeleler]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İskeleler](
	[iskele_id] [int] IDENTITY(1,1) NOT NULL,
	[iskele_adi] [varchar](100) NULL,
	[sehir] [varchar](50) NULL,
	[adres] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[iskele_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KutuphaneKullanicilari]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KutuphaneKullanicilari](
	[kullanici_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[kutuphane_id] [int] NULL,
	[kayit_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kutuphaneler]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kutuphaneler](
	[kutuphane_id] [int] IDENTITY(1,1) NOT NULL,
	[bina_id] [int] NULL,
	[kapasite] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[kutuphane_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[ogrenci_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[universite_id] [int] NULL,
	[bolum] [varchar](100) NULL,
	[kayit_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ogrenci_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rotalar]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rotalar](
	[rota_id] [int] IDENTITY(1,1) NOT NULL,
	[rota_adi] [varchar](100) NULL,
	[baslangic_noktasi] [varchar](100) NULL,
	[bitis_noktasi] [varchar](100) NULL,
	[rota_uzunlugu] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[rota_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[sehir_id] [int] IDENTITY(1,1) NOT NULL,
	[sehir_adi] [varchar](50) NOT NULL,
	[nufus] [int] NOT NULL,
	[kaynaklar] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sehir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SucKayitlari]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SucKayitlari](
	[suc_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[suc_turu] [varchar](100) NULL,
	[suc_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[suc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopluTasimaAraclari]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopluTasimaAraclari](
	[arac_id] [int] IDENTITY(1,1) NOT NULL,
	[arac_turu] [varchar](50) NULL,
	[arac_no] [varchar](20) NULL,
	[kapasite] [int] NULL,
	[muayene_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[arac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrafikCezalari]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrafikCezalari](
	[ceza_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[plaka] [varchar](10) NULL,
	[ceza_turu] [varchar](50) NULL,
	[ceza_miktari] [decimal](10, 2) NULL,
	[ceza_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ceza_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turistler]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turistler](
	[turist_id] [int] IDENTITY(1,1) NOT NULL,
	[isim] [varchar](100) NULL,
	[ulke] [varchar](100) NULL,
	[sehir_giris_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[turist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Universiteler]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Universiteler](
	[universite_id] [int] IDENTITY(101,1) NOT NULL,
	[universite_adi] [varchar](100) NOT NULL,
	[bina_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[universite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ÜniversiteBölümleri]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ÜniversiteBölümleri](
	[bolum_id] [int] IDENTITY(1,1) NOT NULL,
	[universite_id] [int] NULL,
	[bolum_adi] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[bolum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vatandaslar]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vatandaslar](
	[vatandas_id] [int] IDENTITY(1,1) NOT NULL,
	[ad_soyad] [varchar](100) NOT NULL,
	[dogum_tarihi] [date] NULL,
	[dogum_yeri] [varchar](50) NULL,
	[meslek] [varchar](50) NULL,
	[borclu_mu] [bit] NULL,
	[borc_miktari] [decimal](10, 2) NULL,
	[bina_id] [int] NULL,
	[ev_adresi] [varchar](255) NULL,
	[malvarligi] [decimal](15, 2) NULL,
	[arac_durumu] [varchar](50) NULL,
	[arac_modeli] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[vatandas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YatanHastalar]    Script Date: 3.10.2025 10:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YatanHastalar](
	[vatandas_id] [int] NULL,
	[hastane_id] [int] NULL,
	[hastalik_adi] [varchar](255) NULL,
	[yatak_numarasi] [int] NULL,
	[yatis_tarihi] [date] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Araclar]  WITH CHECK ADD FOREIGN KEY([otopark_id])
REFERENCES [dbo].[Otoparklar] ([otopark_id])
GO
ALTER TABLE [dbo].[Binalar]  WITH CHECK ADD FOREIGN KEY([bina_ilce_id])
REFERENCES [dbo].[Ilceler] ([ilce_id])
GO
ALTER TABLE [dbo].[Calisanlar]  WITH CHECK ADD FOREIGN KEY([isyeri_id])
REFERENCES [dbo].[IsYerleri] ([isyeri_id])
GO
ALTER TABLE [dbo].[Calisanlar]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[Feribotlar]  WITH CHECK ADD FOREIGN KEY([kalkis_iskele_id])
REFERENCES [dbo].[İskeleler] ([iskele_id])
GO
ALTER TABLE [dbo].[Feribotlar]  WITH CHECK ADD FOREIGN KEY([varis_iskele_id])
REFERENCES [dbo].[İskeleler] ([iskele_id])
GO
ALTER TABLE [dbo].[HastaKayitlari]  WITH CHECK ADD FOREIGN KEY([hastane_id])
REFERENCES [dbo].[Hastaneler] ([hastane_id])
GO
ALTER TABLE [dbo].[HastaKayitlari]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[Hastalar]  WITH CHECK ADD FOREIGN KEY([hastane_id])
REFERENCES [dbo].[Hastaneler] ([hastane_id])
GO
ALTER TABLE [dbo].[Hastaneler]  WITH CHECK ADD FOREIGN KEY([bina_id])
REFERENCES [dbo].[Binalar] ([bina_id])
GO
ALTER TABLE [dbo].[Ilceler]  WITH CHECK ADD FOREIGN KEY([sehir_id])
REFERENCES [dbo].[Sehirler] ([sehir_id])
GO
ALTER TABLE [dbo].[IsYerleri]  WITH CHECK ADD FOREIGN KEY([bina_id])
REFERENCES [dbo].[Binalar] ([bina_id])
GO
ALTER TABLE [dbo].[KutuphaneKullanicilari]  WITH CHECK ADD FOREIGN KEY([kutuphane_id])
REFERENCES [dbo].[Kutuphaneler] ([kutuphane_id])
GO
ALTER TABLE [dbo].[KutuphaneKullanicilari]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[Kutuphaneler]  WITH CHECK ADD FOREIGN KEY([bina_id])
REFERENCES [dbo].[Binalar] ([bina_id])
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD FOREIGN KEY([universite_id])
REFERENCES [dbo].[Universiteler] ([universite_id])
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[SucKayitlari]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[TrafikCezalari]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[ÜniversiteBölümleri]  WITH CHECK ADD FOREIGN KEY([universite_id])
REFERENCES [dbo].[Universiteler] ([universite_id])
GO
ALTER TABLE [dbo].[Vatandaslar]  WITH CHECK ADD FOREIGN KEY([bina_id])
REFERENCES [dbo].[Binalar] ([bina_id])
GO
USE [master]
GO
