USE [master]
GO
/****** Object:  Database [Sehir_Simülasyon_Yönetim_Sistemi]    Script Date: 12.01.2025 22:38:50 ******/
CREATE DATABASE [Sehir_Simülasyon_Yönetim_Sistemi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sehir_Simülasyon_Yönetim_Sistemi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sehir_Simülasyon_Yönetim_Sistemi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sehir_Simülasyon_Yönetim_Sistemi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Sehir_Simülasyon_Yönetim_Sistemi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sehir_Simülasyon_Yönetim_Sistemi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sehir_Simülasyon_Yönetim_Sistemi]
GO
/****** Object:  Table [dbo].[Otoparklar]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otoparklar](
	[otopark_id] [int] IDENTITY(1,1) NOT NULL,
	[otopark_adi] [varchar](100) NULL,
	[toplam_kapasite] [int] NULL,
	[mevcut_doluluk] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[otopark_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Araclar]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Araclar](
	[arac_id] [int] IDENTITY(1,1) NOT NULL,
	[plaka] [varchar](10) NULL,
	[otopark_id] [int] NULL,
	[park_giris_saati] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[arac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[OtoparkUcretleri]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Ücret hesaplaması
CREATE VIEW [dbo].[OtoparkUcretleri] AS
SELECT 
    a.arac_id,
    a.plaka,
    o.otopark_adi,
    DATEDIFF(HOUR, a.park_giris_saati, GETDATE()) AS park_suresi_saat,
    CASE 
        WHEN DATEDIFF(HOUR, a.park_giris_saati, GETDATE()) <= 3 THEN 100
        ELSE 100 + ((DATEDIFF(HOUR, a.park_giris_saati, GETDATE()) - 3) * 50)
    END AS toplam_ucret
FROM 
    Araclar a
    JOIN Otoparklar o ON a.otopark_id = o.otopark_id;
GO
/****** Object:  Table [dbo].[AltyapiHizmetleri]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltyapiHizmetleri](
	[hizmet_id] [int] IDENTITY(1,1) NOT NULL,
	[hizmet_turu] [varchar](50) NULL,
	[vatandas_id] [int] NULL,
	[tuketim_miktari] [decimal](10, 2) NULL,
	[fatura_tarihi] [date] NULL,
	[odeme_durumu] [varchar](20) NULL,
	[borc_miktari] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[hizmet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Binalar]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Binalar](
	[bina_id] [int] IDENTITY(1,1) NOT NULL,
	[bina_adi] [varchar](100) NOT NULL,
	[bina_turu] [varchar](50) NULL,
	[bina_kapasitesi] [int] NULL,
	[bina_ilce_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[bina_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calisanlar]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calisanlar](
	[calisan_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[isyeri_id] [int] NULL,
	[pozisyon] [varchar](50) NULL,
	[maas] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[calisan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feribotlar]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feribotlar](
	[feribot_id] [int] IDENTITY(1,1) NOT NULL,
	[feribot_adi] [varchar](100) NULL,
	[kapasite] [int] NULL,
	[kalkis_iskele_id] [int] NULL,
	[varis_iskele_id] [int] NULL,
	[sefer_saati] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[feribot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HastaKayitlari]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HastaKayitlari](
	[kayit_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[hastane_id] [int] NULL,
	[hastalik_turu] [varchar](100) NULL,
	[yatma_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[kayit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hastalar]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastalar](
	[hasta_id] [int] NOT NULL,
	[hastalik] [varchar](255) NULL,
	[yatish_tarihi] [date] NULL,
	[hastane_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hasta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hastaneler]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hastaneler](
	[hastane_id] [int] IDENTITY(1,1) NOT NULL,
	[hastane_adi] [varchar](100) NULL,
	[kapasite] [int] NULL,
	[bina_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[hastane_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[ilce_id] [int] IDENTITY(1,1) NOT NULL,
	[ilce_adi] [varchar](100) NOT NULL,
	[sehir_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ilce_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IsYerleri]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IsYerleri](
	[isyeri_id] [int] IDENTITY(1,1) NOT NULL,
	[isyeri_adi] [varchar](100) NULL,
	[sektor] [varchar](50) NULL,
	[bina_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[isyeri_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[İskeleler]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[İskeleler](
	[iskele_id] [int] IDENTITY(1,1) NOT NULL,
	[iskele_adi] [varchar](100) NULL,
	[sehir] [varchar](50) NULL,
	[adres] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[iskele_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KutuphaneKullanicilari]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KutuphaneKullanicilari](
	[kullanici_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[kutuphane_id] [int] NULL,
	[kayit_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[kullanici_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kutuphaneler]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kutuphaneler](
	[kutuphane_id] [int] IDENTITY(1,1) NOT NULL,
	[bina_id] [int] NULL,
	[kapasite] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[kutuphane_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[ogrenci_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[universite_id] [int] NULL,
	[bolum] [varchar](100) NULL,
	[kayit_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ogrenci_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rotalar]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rotalar](
	[rota_id] [int] IDENTITY(1,1) NOT NULL,
	[rota_adi] [varchar](100) NULL,
	[baslangic_noktasi] [varchar](100) NULL,
	[bitis_noktasi] [varchar](100) NULL,
	[rota_uzunlugu] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[rota_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[sehir_id] [int] IDENTITY(1,1) NOT NULL,
	[sehir_adi] [varchar](50) NOT NULL,
	[nufus] [int] NOT NULL,
	[kaynaklar] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sehir_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SucKayitlari]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SucKayitlari](
	[suc_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[suc_turu] [varchar](100) NULL,
	[suc_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[suc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TopluTasimaAraclari]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopluTasimaAraclari](
	[arac_id] [int] IDENTITY(1,1) NOT NULL,
	[arac_turu] [varchar](50) NULL,
	[arac_no] [varchar](20) NULL,
	[kapasite] [int] NULL,
	[muayene_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[arac_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrafikCezalari]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrafikCezalari](
	[ceza_id] [int] IDENTITY(1,1) NOT NULL,
	[vatandas_id] [int] NULL,
	[plaka] [varchar](10) NULL,
	[ceza_turu] [varchar](50) NULL,
	[ceza_miktari] [decimal](10, 2) NULL,
	[ceza_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ceza_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Turistler]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turistler](
	[turist_id] [int] IDENTITY(1,1) NOT NULL,
	[isim] [varchar](100) NULL,
	[ulke] [varchar](100) NULL,
	[sehir_giris_tarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[turist_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Universiteler]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Universiteler](
	[universite_id] [int] IDENTITY(101,1) NOT NULL,
	[universite_adi] [varchar](100) NOT NULL,
	[bina_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[universite_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ÜniversiteBölümleri]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ÜniversiteBölümleri](
	[bolum_id] [int] IDENTITY(1,1) NOT NULL,
	[universite_id] [int] NULL,
	[bolum_adi] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[bolum_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vatandaslar]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vatandaslar](
	[vatandas_id] [int] IDENTITY(1,1) NOT NULL,
	[ad_soyad] [varchar](100) NOT NULL,
	[dogum_tarihi] [date] NULL,
	[dogum_yeri] [varchar](50) NULL,
	[meslek] [varchar](50) NULL,
	[borclu_mu] [bit] NULL,
	[borc_miktari] [decimal](10, 2) NULL,
	[bina_id] [int] NULL,
	[ev_adresi] [varchar](255) NULL,
	[malvarligi] [decimal](15, 2) NULL,
	[arac_durumu] [varchar](50) NULL,
	[arac_modeli] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[vatandas_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YatanHastalar]    Script Date: 12.01.2025 22:38:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YatanHastalar](
	[vatandas_id] [int] NULL,
	[hastane_id] [int] NULL,
	[hastalik_adi] [varchar](255) NULL,
	[yatak_numarasi] [int] NULL,
	[yatis_tarihi] [date] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AltyapiHizmetleri] ON 

INSERT [dbo].[AltyapiHizmetleri] ([hizmet_id], [hizmet_turu], [vatandas_id], [tuketim_miktari], [fatura_tarihi], [odeme_durumu], [borc_miktari]) VALUES (1, N'Elektrik', 1, CAST(250.75 AS Decimal(10, 2)), CAST(N'2025-01-01' AS Date), N'Ödenmedi', CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[AltyapiHizmetleri] ([hizmet_id], [hizmet_turu], [vatandas_id], [tuketim_miktari], [fatura_tarihi], [odeme_durumu], [borc_miktari]) VALUES (2, N'Su', 1, CAST(50.25 AS Decimal(10, 2)), CAST(N'2025-01-01' AS Date), N'Ödendi', CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[AltyapiHizmetleri] ([hizmet_id], [hizmet_turu], [vatandas_id], [tuketim_miktari], [fatura_tarihi], [odeme_durumu], [borc_miktari]) VALUES (3, N'Elektrik', 2, CAST(300.00 AS Decimal(10, 2)), CAST(N'2025-01-01' AS Date), N'Ödenmedi', CAST(600.00 AS Decimal(10, 2)))
GO
SET IDENTITY_INSERT [dbo].[AltyapiHizmetleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Araclar] ON 

INSERT [dbo].[Araclar] ([arac_id], [plaka], [otopark_id], [park_giris_saati]) VALUES (1, N'34XYZ123', 1, CAST(N'2025-01-12T16:46:22.600' AS DateTime))
INSERT [dbo].[Araclar] ([arac_id], [plaka], [otopark_id], [park_giris_saati]) VALUES (2, N'06ABC456', 1, CAST(N'2025-01-12T18:46:22.600' AS DateTime))
INSERT [dbo].[Araclar] ([arac_id], [plaka], [otopark_id], [park_giris_saati]) VALUES (3, N'35DEF789', 2, CAST(N'2025-01-12T15:46:22.600' AS DateTime))
SET IDENTITY_INSERT [dbo].[Araclar] OFF
GO
SET IDENTITY_INSERT [dbo].[Binalar] ON 

INSERT [dbo].[Binalar] ([bina_id], [bina_adi], [bina_turu], [bina_kapasitesi], [bina_ilce_id]) VALUES (1, N'Adalar Binası', N'Hastane', 500, 1)
INSERT [dbo].[Binalar] ([bina_id], [bina_adi], [bina_turu], [bina_kapasitesi], [bina_ilce_id]) VALUES (2, N'Arnavutköy Binası', N'Hastane', 1200, 2)
INSERT [dbo].[Binalar] ([bina_id], [bina_adi], [bina_turu], [bina_kapasitesi], [bina_ilce_id]) VALUES (3, N'Ataşehir Binası', N'Hastane', 1800, 3)
SET IDENTITY_INSERT [dbo].[Binalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Calisanlar] ON 

INSERT [dbo].[Calisanlar] ([calisan_id], [vatandas_id], [isyeri_id], [pozisyon], [maas]) VALUES (1, 54, 1, N'Eczacı', CAST(30000.00 AS Decimal(10, 2)))
INSERT [dbo].[Calisanlar] ([calisan_id], [vatandas_id], [isyeri_id], [pozisyon], [maas]) VALUES (2, 80, 2, N'Eczacı', CAST(30000.00 AS Decimal(10, 2)))
INSERT [dbo].[Calisanlar] ([calisan_id], [vatandas_id], [isyeri_id], [pozisyon], [maas]) VALUES (3, 3, 3, N'Avukat', CAST(40000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Calisanlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Feribotlar] ON 

INSERT [dbo].[Feribotlar] ([feribot_id], [feribot_adi], [kapasite], [kalkis_iskele_id], [varis_iskele_id], [sefer_saati]) VALUES (1, N'Kadıköy - Emin Ali Paşa', 200, 1, 6, CAST(N'08:00:00' AS Time))
INSERT [dbo].[Feribotlar] ([feribot_id], [feribot_adi], [kapasite], [kalkis_iskele_id], [varis_iskele_id], [sefer_saati]) VALUES (2, N'Bostancı - Emin Ali Paşa', 250, 2, 6, CAST(N'08:15:00' AS Time))
INSERT [dbo].[Feribotlar] ([feribot_id], [feribot_adi], [kapasite], [kalkis_iskele_id], [varis_iskele_id], [sefer_saati]) VALUES (3, N'Kartal - Emin Ali Paşa', 150, 3, 6, CAST(N'08:30:00' AS Time))
SET IDENTITY_INSERT [dbo].[Feribotlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Hastaneler] ON 

INSERT [dbo].[Hastaneler] ([hastane_id], [hastane_adi], [kapasite], [bina_id]) VALUES (1, N'Adalar Devlet Hastanesi', 500, 1)
INSERT [dbo].[Hastaneler] ([hastane_id], [hastane_adi], [kapasite], [bina_id]) VALUES (2, N'Arnavutköy Devlet Hastanesi', 1200, 2)
INSERT [dbo].[Hastaneler] ([hastane_id], [hastane_adi], [kapasite], [bina_id]) VALUES (3, N'Ataşehir Fatih Sultan Mehmet Eğitim ve Araştırma Hastanesi', 1800, 3)
SET IDENTITY_INSERT [dbo].[Hastaneler] OFF
GO
SET IDENTITY_INSERT [dbo].[Ilceler] ON 

INSERT [dbo].[Ilceler] ([ilce_id], [ilce_adi], [sehir_id]) VALUES (1, N'Adalar', 1)
INSERT [dbo].[Ilceler] ([ilce_id], [ilce_adi], [sehir_id]) VALUES (2, N'Arnavutköy', 1)
INSERT [dbo].[Ilceler] ([ilce_id], [ilce_adi], [sehir_id]) VALUES (3, N'Ataşehir', 1)
SET IDENTITY_INSERT [dbo].[Ilceler] OFF
GO
SET IDENTITY_INSERT [dbo].[IsYerleri] ON 

INSERT [dbo].[IsYerleri] ([isyeri_id], [isyeri_adi], [sektor], [bina_id]) VALUES (1, N'Yağmur Eczacılık', N'Sağlık', 11)
INSERT [dbo].[IsYerleri] ([isyeri_id], [isyeri_adi], [sektor], [bina_id]) VALUES (2, N'Sağlık Eczanesi', N'Sağlık', 12)
INSERT [dbo].[IsYerleri] ([isyeri_id], [isyeri_adi], [sektor], [bina_id]) VALUES (3, N'Adalet Hukuk Bürosu', N'Hukuk', 13)
SET IDENTITY_INSERT [dbo].[IsYerleri] OFF
GO
SET IDENTITY_INSERT [dbo].[İskeleler] ON 

INSERT [dbo].[İskeleler] ([iskele_id], [iskele_adi], [sehir], [adres]) VALUES (1, N'Kabataş İskele', N'İstanbul', N'Kabataş, İstanbul Merkez')
INSERT [dbo].[İskeleler] ([iskele_id], [iskele_adi], [sehir], [adres]) VALUES (2, N'Emin Ali Paşa İskele', N'İstanbul', N'Emin Ali Paşa Mahallesi')
INSERT [dbo].[İskeleler] ([iskele_id], [iskele_adi], [sehir], [adres]) VALUES (3, N'Büyükçekmece İskele', N'İstanbul', N'Büyükçekmece, İstanbul')
SET IDENTITY_INSERT [dbo].[İskeleler] OFF
GO
SET IDENTITY_INSERT [dbo].[Otoparklar] ON 

INSERT [dbo].[Otoparklar] ([otopark_id], [otopark_adi], [toplam_kapasite], [mevcut_doluluk]) VALUES (1, N'Merkez Otopark', 50, 15)
INSERT [dbo].[Otoparklar] ([otopark_id], [otopark_adi], [toplam_kapasite], [mevcut_doluluk]) VALUES (2, N'Havalimanı Otopark', 100, 30)
INSERT [dbo].[Otoparklar] ([otopark_id], [otopark_adi], [toplam_kapasite], [mevcut_doluluk]) VALUES (3, N'AVM Otoparkı', 200, 75)
SET IDENTITY_INSERT [dbo].[Otoparklar] OFF
GO
SET IDENTITY_INSERT [dbo].[Rotalar] ON 

INSERT [dbo].[Rotalar] ([rota_id], [rota_adi], [baslangic_noktasi], [bitis_noktasi], [rota_uzunlugu]) VALUES (1, N'Otobüs Hattı 34', N'Kadıköy', N'Taksim', CAST(12.50 AS Decimal(10, 2)))
INSERT [dbo].[Rotalar] ([rota_id], [rota_adi], [baslangic_noktasi], [bitis_noktasi], [rota_uzunlugu]) VALUES (2, N'Otobüs Hattı 45', N'Beşiktaş', N'Sultanahmet', CAST(7.80 AS Decimal(10, 2)))
INSERT [dbo].[Rotalar] ([rota_id], [rota_adi], [baslangic_noktasi], [bitis_noktasi], [rota_uzunlugu]) VALUES (3, N'Otobüs Hattı 56', N'Üsküdar', N'Kadıköy', CAST(5.40 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Rotalar] OFF
GO
SET IDENTITY_INSERT [dbo].[Sehirler] ON 

INSERT [dbo].[Sehirler] ([sehir_id], [sehir_adi], [nufus], [kaynaklar]) VALUES (1, N'İstanbul', 15029231, 500000)
SET IDENTITY_INSERT [dbo].[Sehirler] OFF
GO
SET IDENTITY_INSERT [dbo].[SucKayitlari] ON 

INSERT [dbo].[SucKayitlari] ([suc_id], [vatandas_id], [suc_turu], [suc_tarihi]) VALUES (1, 1, N'Hırsızlık', CAST(N'2024-01-01' AS Date))
INSERT [dbo].[SucKayitlari] ([suc_id], [vatandas_id], [suc_turu], [suc_tarihi]) VALUES (2, 2, N'Dolandırıcılık', CAST(N'2023-06-15' AS Date))
INSERT [dbo].[SucKayitlari] ([suc_id], [vatandas_id], [suc_turu], [suc_tarihi]) VALUES (3, 3, N'Siber Suç', CAST(N'2023-11-20' AS Date))
SET IDENTITY_INSERT [dbo].[SucKayitlari] OFF
GO
SET IDENTITY_INSERT [dbo].[TopluTasimaAraclari] ON 

INSERT [dbo].[TopluTasimaAraclari] ([arac_id], [arac_turu], [arac_no], [kapasite], [muayene_tarihi]) VALUES (1, N'Otobüs', N'34ABC123', 50, CAST(N'2024-12-01' AS Date))
INSERT [dbo].[TopluTasimaAraclari] ([arac_id], [arac_turu], [arac_no], [kapasite], [muayene_tarihi]) VALUES (2, N'Otobüs', N'34XYZ456', 55, CAST(N'2024-11-15' AS Date))
INSERT [dbo].[TopluTasimaAraclari] ([arac_id], [arac_turu], [arac_no], [kapasite], [muayene_tarihi]) VALUES (3, N'Otobüs', N'34JKL789', 60, CAST(N'2024-10-30' AS Date))
SET IDENTITY_INSERT [dbo].[TopluTasimaAraclari] OFF
GO
SET IDENTITY_INSERT [dbo].[TrafikCezalari] ON 

INSERT [dbo].[TrafikCezalari] ([ceza_id], [vatandas_id], [plaka], [ceza_turu], [ceza_miktari], [ceza_tarihi]) VALUES (1, 1, N'34ABC123', N'Hız Aşımı', CAST(500.00 AS Decimal(10, 2)), CAST(N'2024-03-01' AS Date))
INSERT [dbo].[TrafikCezalari] ([ceza_id], [vatandas_id], [plaka], [ceza_turu], [ceza_miktari], [ceza_tarihi]) VALUES (2, 2, N'06XYZ789', N'Park İhlali', CAST(200.00 AS Decimal(10, 2)), CAST(N'2023-12-12' AS Date))
INSERT [dbo].[TrafikCezalari] ([ceza_id], [vatandas_id], [plaka], [ceza_turu], [ceza_miktari], [ceza_tarihi]) VALUES (3, 3, N'35LMN456', N'Kırmızı Işık İhlali', CAST(300.00 AS Decimal(10, 2)), CAST(N'2024-01-15' AS Date))
SET IDENTITY_INSERT [dbo].[TrafikCezalari] OFF
GO
SET IDENTITY_INSERT [dbo].[Turistler] ON 

INSERT [dbo].[Turistler] ([turist_id], [isim], [ulke], [sehir_giris_tarihi]) VALUES (1, N'John Doe', N'ABD', CAST(N'2025-01-01' AS Date))
INSERT [dbo].[Turistler] ([turist_id], [isim], [ulke], [sehir_giris_tarihi]) VALUES (2, N'Jane Smith', N'İngiltere', CAST(N'2025-01-02' AS Date))
INSERT [dbo].[Turistler] ([turist_id], [isim], [ulke], [sehir_giris_tarihi]) VALUES (3, N'Marie Dupont', N'Fransa', CAST(N'2025-01-04' AS Date))
SET IDENTITY_INSERT [dbo].[Turistler] OFF
GO
SET IDENTITY_INSERT [dbo].[Universiteler] ON 

INSERT [dbo].[Universiteler] ([universite_id], [universite_adi], [bina_id]) VALUES (101, N'Boğaziçi Üniversitesi', 101)
INSERT [dbo].[Universiteler] ([universite_id], [universite_adi], [bina_id]) VALUES (102, N'İstanbul Teknik Üniversitesi', 102)
INSERT [dbo].[Universiteler] ([universite_id], [universite_adi], [bina_id]) VALUES (103, N'Marmara Üniversitesi', 103)
SET IDENTITY_INSERT [dbo].[Universiteler] OFF
GO
SET IDENTITY_INSERT [dbo].[ÜniversiteBölümleri] ON 

INSERT [dbo].[ÜniversiteBölümleri] ([bolum_id], [universite_id], [bolum_adi]) VALUES (1, 101, N'Elektrik-Elektronik Mühendisliği')
INSERT [dbo].[ÜniversiteBölümleri] ([bolum_id], [universite_id], [bolum_adi]) VALUES (2, 102, N'Makine Mühendisliği')
INSERT [dbo].[ÜniversiteBölümleri] ([bolum_id], [universite_id], [bolum_adi]) VALUES (3, 103, N'Endüstri Mühendisliği')
SET IDENTITY_INSERT [dbo].[ÜniversiteBölümleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Vatandaslar] ON 

INSERT [dbo].[Vatandaslar] ([vatandas_id], [ad_soyad], [dogum_tarihi], [dogum_yeri], [meslek], [borclu_mu], [borc_miktari], [bina_id], [ev_adresi], [malvarligi], [arac_durumu], [arac_modeli]) VALUES (1, N'Ahmet Yılmaz', CAST(N'1990-05-20' AS Date), N'İstanbul', N'Mühendis', 0, CAST(0.00 AS Decimal(10, 2)), NULL, N'Kadıköy, 123. Sokak No: 45', CAST(200000.00 AS Decimal(15, 2)), N'Var', N'Toyota Corolla')
INSERT [dbo].[Vatandaslar] ([vatandas_id], [ad_soyad], [dogum_tarihi], [dogum_yeri], [meslek], [borclu_mu], [borc_miktari], [bina_id], [ev_adresi], [malvarligi], [arac_durumu], [arac_modeli]) VALUES (2, N'Ayşe Demir', CAST(N'1985-09-15' AS Date), N'Ankara', N'Doktor', 1, CAST(2000.50 AS Decimal(10, 2)), NULL, N'Üsküdar, 56. Cadde No: 12', CAST(150000.00 AS Decimal(15, 2)), N'Yok', NULL)
INSERT [dbo].[Vatandaslar] ([vatandas_id], [ad_soyad], [dogum_tarihi], [dogum_yeri], [meslek], [borclu_mu], [borc_miktari], [bina_id], [ev_adresi], [malvarligi], [arac_durumu], [arac_modeli]) VALUES (3, N'Mehmet Çelik', CAST(N'1978-03-12' AS Date), N'İzmir', N'Avukat', 0, CAST(0.00 AS Decimal(10, 2)), NULL, N'Beşiktaş, 42. Sokak No: 20', CAST(300000.00 AS Decimal(15, 2)), N'Var', N'Honda Civic')
GO
SET IDENTITY_INSERT [dbo].[Vatandaslar] OFF
GO
INSERT [dbo].[YatanHastalar] ([vatandas_id], [hastane_id], [hastalik_adi], [yatak_numarasi], [yatis_tarihi]) VALUES (1, 5, N'Kalp Krizi', 101, CAST(N'2025-01-08' AS Date))
INSERT [dbo].[YatanHastalar] ([vatandas_id], [hastane_id], [hastalik_adi], [yatak_numarasi], [yatis_tarihi]) VALUES (3, 5, N'Astım', 102, CAST(N'2025-01-08' AS Date))
INSERT [dbo].[YatanHastalar] ([vatandas_id], [hastane_id], [hastalik_adi], [yatak_numarasi], [yatis_tarihi]) VALUES (5, 5, N'Grip', 103, CAST(N'2025-01-09' AS Date))
GO
ALTER TABLE [dbo].[Araclar]  WITH CHECK ADD FOREIGN KEY([otopark_id])
REFERENCES [dbo].[Otoparklar] ([otopark_id])
GO
ALTER TABLE [dbo].[Binalar]  WITH CHECK ADD FOREIGN KEY([bina_ilce_id])
REFERENCES [dbo].[Ilceler] ([ilce_id])
GO
ALTER TABLE [dbo].[Calisanlar]  WITH CHECK ADD FOREIGN KEY([isyeri_id])
REFERENCES [dbo].[IsYerleri] ([isyeri_id])
GO
ALTER TABLE [dbo].[Calisanlar]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[Feribotlar]  WITH CHECK ADD FOREIGN KEY([kalkis_iskele_id])
REFERENCES [dbo].[İskeleler] ([iskele_id])
GO
ALTER TABLE [dbo].[Feribotlar]  WITH CHECK ADD FOREIGN KEY([varis_iskele_id])
REFERENCES [dbo].[İskeleler] ([iskele_id])
GO
ALTER TABLE [dbo].[HastaKayitlari]  WITH CHECK ADD FOREIGN KEY([hastane_id])
REFERENCES [dbo].[Hastaneler] ([hastane_id])
GO
ALTER TABLE [dbo].[HastaKayitlari]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[Hastalar]  WITH CHECK ADD FOREIGN KEY([hastane_id])
REFERENCES [dbo].[Hastaneler] ([hastane_id])
GO
ALTER TABLE [dbo].[Hastaneler]  WITH CHECK ADD FOREIGN KEY([bina_id])
REFERENCES [dbo].[Binalar] ([bina_id])
GO
ALTER TABLE [dbo].[Ilceler]  WITH CHECK ADD FOREIGN KEY([sehir_id])
REFERENCES [dbo].[Sehirler] ([sehir_id])
GO
ALTER TABLE [dbo].[IsYerleri]  WITH CHECK ADD FOREIGN KEY([bina_id])
REFERENCES [dbo].[Binalar] ([bina_id])
GO
ALTER TABLE [dbo].[KutuphaneKullanicilari]  WITH CHECK ADD FOREIGN KEY([kutuphane_id])
REFERENCES [dbo].[Kutuphaneler] ([kutuphane_id])
GO
ALTER TABLE [dbo].[KutuphaneKullanicilari]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[Kutuphaneler]  WITH CHECK ADD FOREIGN KEY([bina_id])
REFERENCES [dbo].[Binalar] ([bina_id])
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD FOREIGN KEY([universite_id])
REFERENCES [dbo].[Universiteler] ([universite_id])
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[SucKayitlari]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[TrafikCezalari]  WITH CHECK ADD FOREIGN KEY([vatandas_id])
REFERENCES [dbo].[Vatandaslar] ([vatandas_id])
GO
ALTER TABLE [dbo].[ÜniversiteBölümleri]  WITH CHECK ADD FOREIGN KEY([universite_id])
REFERENCES [dbo].[Universiteler] ([universite_id])
GO
ALTER TABLE [dbo].[Vatandaslar]  WITH CHECK ADD FOREIGN KEY([bina_id])
REFERENCES [dbo].[Binalar] ([bina_id])
GO
USE [master]
GO
